/ ------------------------------------------------------------------------------
= simple_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'put'}, :id => 'activation-form' do |f|
 / -----------------------------------------------------------------------------  
 %h2 
  = t 'pages.users.confirm_password'
  / ----------------------------------------------------------------------------
  - if resource.email
   %a.pull-right(href='mailto:"#{resource.email}"') #{resource.email}   
 / -----------------------------------------------------------------------------      
 .control-group 
  - if @requires_password
   / ---------------------------------------------------------------------------
   .input-prepend
    %span.add-on                          
     %i.icon-lock       
    = f.password_field :password, :placeholder=> "#{ t 'pages.users.confirm_password_placeholder' }"
   / ---------------------------------------------------------------------------
   .input-prepend
    %span.add-on
     %i.icon-lock       
    = f.password_field :password_confirmation, :placeholder=> "#{ t 'pages.users.password_confirmation_placeholder' }"
  / ----------------------------------------------------------------------------
  = hidden_field_tag :confirmation_token, @confirmation_token
 / -----------------------------------------------------------------------------
 %h3
  %div= f.submit "#{ t 'pages.users.do_subscribe' }", :class => "pull-right btn #{ Settings.app.styles.user_button } btn-large" 
  %span= t 'pages.users.privacy_disclaim_html'
