/ ------------------------------------------------------------------------------
- content_for(:javascript) do
  = javascript_include_tag params[:controller]                          
/ ------------------------------------------------------------------------------
.span4                                                                          
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}    
/ --------------------------------------------------------------------------
.span12                          
  .box  
    .box-content      
      / --------------------------------------------------------------------    
      %table.table.table-sortable(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ------------------------------------------------------------------
        %thead
          %tr 
            %th Name
            %th Code

        / ------------------------------------------------------------------    
        %tbody
          - @directions.each do |direction|
            %tr
              %td= direction.name
              %td= direction.code
