.alert-box-spacer
/ ------------------------------------------------------------------------------
.alert-box
  / ----------------------------------------------------------------------------
  %div{:class => "alert-success"}
    / --------------------------------------------------------------------------
    = content_tag :div, "#{ t 'pages.users.userlist.thankyou' } #{ t 'pages.users.userlist.thankyou_message' }"
/ ------------------------------------------------------------------------------    
