/ ------------------------------------------------------------------------------
%form
 / -----------------------------------------------------------------------------
 %h2= t 'pages.users.userlist.thankyou'
 / ----------------------------------------------------------------------------- 
 .control-group
  / ---------------------------------------------------------------------------- 
  %p(style="color:#222;text-shadow:0 1px 0 #FFF;")= t 'pages.users.userlist.thankyou_message'
 / -----------------------------------------------------------------------------  
 %h3
  / ----------------------------------------------------------------------------
  = link_to("#{ Settings.app.name }", :root, :class=>"") 
