/ ------------------------------------------------------------------------------
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
 / ----------------------------------------------------------------------------- 
 %h2 
  = t 'pages.users.subscribe'
  / Landing page layout --------------------------------------------------------
  -# .small.pull-right= t 'pages.users.subscribe_html'
  / Prelaunch app layout -------------------------------------------------------
  = link_to("#{ t 'pages.users.already_subscribed' }", user_session_path, :class=>"pull-right")
 / ----------------------------------------------------------------------------- 
 .control-group 
  / ---------------------------------------------------------------------------- 
  -#.input-prepend
  -# %span.add-on
  -#  %i.icon-user
  -# = f.text_field :name, :placeholder=> "#{ t 'pages.users.username_placeholder' }"
  / ----------------------------------------------------------------------------
  .input-prepend
   %span.add-on
    %i.icon-envelope-alt      
   = f.email_field :email, :placeholder=> "#{ t 'pages.users.email_placeholder' }"
  / ---------------------------------------------------------------------------- 
  -#.input-prepend
  -# %span.add-on                          
  -#  %i.icon-lock 
  -# = f.password_field :password, :placeholder=> "#{ t 'pages.users.password_placeholder' }"
  / ----------------------------------------------------------------------------  
  -#.input-prepend
  -# %span.add-on
  -#  %i.icon-lock
  -# = f.password_field :password_confirmation, :placeholder=> "#{ t 'pages.users.password_confirmation_placeholder' }"     
 / -----------------------------------------------------------------------------  
 %h3
  %div= f.submit "#{ t 'pages.users.do_subscribe' }", :class => "pull-right btn #{ Settings.app.styles.user_button } btn-large", :style => "margin-left: 60px;", :id => "prelaunch_invite" 
  %span=t 'pages.users.privacy_disclaim_html'
/ ------------------------------------------------------------------------------
    

