<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1></h1>
    <h2></h2>
    <p>
      <%= "Daily report for " + ENV['APP_NAME'].titleize + ':' %>
    </p>
    <p>
        <%= "Daily Bills: " + Bill.daily_count.to_s %>
    </p>  
    <p>
        <%= "Daily Billed Amount: " + number_to_currency(Bill.daily_amount, :separator => ",", :precision => 2, :locale => "it").to_s%>
      </p>
    <p>
      <a href="http://www.helloskt.com/">SKT Srl</a>
    </p>    
  </body>
</html>
