<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1></h1>
    <h2></h2>
    <p>
    Dear 
    <%= @bill.company.company_name.titleize + ', ' %>
    please find attached Your invoice ref. 
    <%= @bill.code %>
    </p>
    <p>    
      Thank You for doing business with us,
      <br/>
      <a href="http://www.helloskt.com/">SKT Srl</a>
    </p>    
  </body>
</html>
