- content_for(:javascript) do
  = javascript_include_tag params[:controller]                          
/ ------------------------------------------------------------------------------
.span4                                                                          
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
/ --------------------------------------------------------------------------
.span12                          
  .box
    .box-content      
      / --------------------------------------------------------------------    
      %table.table.table-sortable(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ------------------------------------------------------------------
        %thead
          %tr 
            %th Name
            %th Full name
            %th Exchange rate
            %th Active
            %th Last update
        / ------------------------------------------------------------------    
        %tbody
          - @currencies.each do |currency|
            %tr
              %td= currency.name
              %td= currency.full_name
              %td= currency.exchange_rate
              %td= currency.active
              %td= distance_of_time_in_words(Time.now, currency.last_update).capitalize + " ago"

