= form_for(@user, remote: true, :url => registration_path(@user)) do |f|
  %td= f.text_field :name, :placeholder=>"Username"
  %td= f.email_field :email, :placeholder=>"Email"
  %td= f.text_field :accounting_code, :placeholder=>"Accounting Code"
  %td= f.number_field :margin
  %td(style="width:136px;")
  %td   
    = button_tag :type => 'submit', :class => "pull-right btn btn-limekiln-3" do
      %i.font-awesome.icon-plus

      
        
                  
