.modal.hide.fade(id = "user_#{ @user.id }")  
  .modal-header
    %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    %h3 
      About to delete Agent
      = @user.name
      
  
  .modal-body
    %p 
      .label.label-important Attention!
      Please confirm you want to remove Agent
      = @user.name
  
  .modal-footer
    = link_to "Delete", @user, :method => :delete, :remote => 'true', :class => "pull-right btn btn-hem-5", :data => { "loading-text" => "Deleting..."}
