/ ------------------------------------------------------------------------------
= simple_form_for(resource, :as => resource_name, :url => reset_path) do |f|    
 / -----------------------------------------------------------------------------
 %h2= t 'pages.users.new_password'                                              
 / -----------------------------------------------------------------------------
 .control-group                                                                 
  / ----------------------------------------------------------------------------
  .input-prepend
   %span.add-on
    %i.icon-envelope-alt
   = f.email_field :email, :placeholder=> "#{ t 'pages.users.email_placeholder' }"
 / -----------------------------------------------------------------------------
 .controls   
  = f.submit  "#{ t 'pages.users.do_new_password' }", :class => "btn btn-large #{ Settings.app.styles.user_button } pull-right"
 / ----------------------------------------------------------------------------- 
 %h3
  %span(style="color:#444;")
   &copy; SKT Srl 2013 