%tr
  %td
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "client", 'data-name' => "client_name", 'data-url' => client_path(client)}
      = client.client_name.titleize
  %td                                                                                                                                                
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "client", 'data-name' => "client_email", 'data-url' => client_path(client)}
      = client.client_email
  %td                                                                                                                                                
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "client", 'data-name' => "client_country", 'data-url' => client_path(client)}
      = client.client_country

