%tr(style="cursor:pointer;")
  %td
    = link_to bill_path(bill, :format => 'pdf') do
      = bill.company.company_country.to_s + "-" + bill.bill_code.bill_code.to_s + "-" + bill.bill_number.to_s
  %td
    - @bill_amount = 0
    %p
      = @bill_amount.to_s
    %span.badge.badge-inverse
      = "VAT " + bill.bill_vat.to_i.to_s + "%"
  %td
    %p
      = bill.company.company_email
  %td
    - if bill.bill_sent_at?
      = distance_of_time_in_words(Time.now, bill.created_at).capitalize + " ago"
