- content_for(:javascript) do
  = javascript_include_tag params[:controller]
/ ------------------------------------------------------------------------------
.span4
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
    
/ --------------------------------------------------------------------------
.span12                          
  .box   
    .box-content      
      / --------------------------------------------------------------------    
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ------------------------------------------------------------------
        %thead
          %tr 
            %th Bill
            %th Amount 
            %th Currency
            %th Recipients
            %th Created
        / ------------------------------------------------------------------    
        %tbody                    

      /- @bills.each do |bill|
      /  = debug bill   
        
        
