.container.span9
  // -------------------------------------------------------------------------  
  .span4	
    // -------------------------------------------------------------------------  
    .logo
    // -------------------------------------------------------------------------   
    %h4 SKT Srl
    %p
      Sede Legale: Milano,
      %br
      Piazza Duomo 16, 20122
      %br
      CF/P.IVA 07830200965
  // ---------------------------------------------------------------------------
  .span4
    %table.bill-detail-table.pull-right
      %thead
        %tr
          %th= "FATTURA N. " + @bill.code  
      %tbody
        // ---------------------------------------------------------------------
        %tr 
          %td= "DATA: " + Time.now.strftime("%d/%m/%Y") 
  // ---------------------------------------------------------------------------
  .span4  
    %table.bill-detail-table.pull-right  
      %thead
        %tr
          %th CLIENTE
      %tbody
        // ---------------------------------------------------------------------
        %tr 
          %td= @bill.company.company_name
        // ---------------------------------------------------------------------  
        %tr 
          %td= @bill.company.company_address + " - " + @bill.company.company_country
        // ---------------------------------------------------------------------  
        %tr 
          %td= 'P.IVA ' + @bill.company.company_vat.to_s            
        // ---------------------------------------------------------------------  
        %tr 
          %td= 'Tel: ' + @bill.company.company_phone    
        %tr
          %td= 'Email: ' + @bill.company.company_email
  // ---------------------------------------------------------------------------  
  .span8
    // -------------------------------------------------------------------------
    %table.bill-table
      %thead
        %tr(style="text-align:left;")
          %th QTY
          %th Servizio 
          %th Prezzo
          %th IVA
          %th Totale
      %tbody
        - @bill.bill_items.each do |bill_item|
          // ---------------------------------------------------------------------
          %tr
            %td= bill_item.bill_item_quantity.to_s
            %td= bill_item.bill_item_description  
            %td= number_to_currency(bill_item.bill_item_unit_gross, :separator => ",", :precision => 2, :locale => @bill.currency)
            %td= number_to_currency(( bill_item.bill_item_unit_cost-bill_item.bill_item_unit_gross ), :separator => ",", :precision => 2, :locale => @bill.currency)
            %td= number_to_currency(bill_item.bill_item_unit_cost, :separator => ",", :precision => 2, :locale => @bill.currency)
            
    // -------------------------------------------------------------------------
    %table.bill-summary-table.pull-right
      %tbody       
        // ---------------------------------------------------------------------
        %tr 
          %td TOTALE IMPONIBILE
          %td(style="width:80px;")
          %td= number_to_currency(@bill.gross, :separator => ",", :precision => 2, :locale => @bill.currency)
        // ---------------------------------------------------------------------    
        %tr
          %td= "+IVA " + number_to_percentage(@bill.bill_vat, :separator => ",", :precision => 2).to_s
          %td(style="width:80px;")
          %td= number_to_currency((@bill.bill_amount - @bill.gross), :separator => ",", :precision => 2, :locale => @bill.currency)            
        // ---------------------------------------------------------------------    
        %tr
          %td TOTALE FATTURA
          %td(style="width:80px;")
          %td= number_to_currency(@bill.bill_amount, :separator => ",", :precision => 2, :locale => @bill.currency)
  // ---------------------------------------------------------------------------        

  .span4.pull-left
    %p
      BANCA INTESA
      %br
      C/C 100000003481
      %br
      ABI/CAB 03069 34073
      %br
      IBAN IT 68 U 03069 34073 100000003481
      %br
      BIC/SWIFT BPCVIT2S       
    %p
      PAGAMENTO AVVENUTO
  // ---------------------------------------------------------------------------
  .span8.footer
    %p 
      Per qualsiasi informazione a riguardo della presente siete pregati di scrivere a:
      %br
      supporto@helloskt.com 
      
     
