%tr
  %td
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "company", 'data-name' => "company_name", 'data-url' => company_path(company)}
      = company.company_name
  %td                                                                                                                                                
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "company", 'data-name' => "company_address", 'data-url' => company_path(company)}
      = company.company_address
  %td                                                                                                                                                
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "company", 'data-name' => "company_email", 'data-url' => company_path(company)}
      = company.company_email
  %td                                                                                                                                                
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "company", 'data-name' => "company_phone", 'data-url' => company_path(company)}
      = company.company_phone
  %td                                                                                                                                                
    %a{href: "#", class: "editable",'data-type' => 'text', 'data-model' => "company", 'data-name' => "company_vat", 'data-url' => company_path(company)}
      = company.company_vat      
