- content_for(:javascript) do
  = javascript_include_tag params[:controller]
/ ------------------------------------------------------------------------------
.span4
  %h1
    %span.badge.badge-info#row_counter= @row_count
    #{params[:controller].titleize}       
/ --------------------------------------------------------------------------
.span12              
  .box  
    .box-content      
      / --------------------------------------------------------------------    
      %table.table(id = "tbl_#{params[:controller]}")
        / ------------------------------------------------------------------
        %thead
          %tr 
            %th Name
            %th Address
            %th Email       
            /%th Phone
            %th VAT
            %th(style="width:60px;") Country            
        / ------------------------------------------------------------------    
        %tbody  
                                  
