= simple_form_for(@bill_item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :bill_item_description
    = f.input :bill_item_unit_cost
    = f.input :bill_item_unit_fee
    = f.input :bill_item_unit_gross
    = f.input :bill_item_quantity
    = f.input :bill_item_discount
    = f.input :bill_id
    = f.input :bill_item_processed_at
    = f.input :bill_item_transaction_id
    = f.input :bill_item_currency
    = f.input :client_id
    = f.input :company_id

  .form-actions
    = f.button :submit
