- content_for(:javascript) do
  = javascript_include_tag params[:controller]
/ ------------------------------------------------------------------------------
.span4
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}            
/ --------------------------------------------------------------------------
.span12                          
  .box 
    .box-content      
      / --------------------------------------------------------------------    
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ------------------------------------------------------------------
        %thead
          %tr
            %th Amount
            %th Gross
            %th Fee   
            %th VAT
            %th Currency
            %th Description
            %th Created
            %th Client
            %th Company
            / %th Transaction            
        / ------------------------------------------------------------------    
        %tbody  
        

