%p#notice= notice

%p
  %b Bill item description:
  = @bill_item.bill_item_description
%p
  %b Bill item unit cost:
  = @bill_item.bill_item_unit_cost
%p
  %b Bill item unit fee:
  = @bill_item.bill_item_unit_fee
%p
  %b Bill item unit gross:
  = @bill_item.bill_item_unit_gross
%p
  %b Bill item quantity:
  = @bill_item.bill_item_quantity
%p
  %b Bill item discount:
  = @bill_item.bill_item_discount
%p
  %b Bill:
  = @bill_item.bill_id
%p
  %b Bill item processed at:
  = @bill_item.bill_item_processed_at
%p
  %b Bill item transaction:
  = @bill_item.bill_item_transaction_id
%p
  %b Bill item currency:
  = @bill_item.bill_item_currency
%p
  %b Client:
  = @bill_item.client_id
%p
  %b Company:
  = @bill_item.company_id

= link_to 'Edit', edit_bill_item_path(@bill_item)
\|
= link_to 'Back', bill_items_path
