%form
 %h2 That's a 404
 .control-group(style="color:#222;")
  %p
   The page you were looking for doesn't exist. 
   You may have mistyped the address or the page may have moved. You may want to 
   = link_to 'go back', :back

