/ ------------------------------------------------------------------------------
= simple_form_for(resource, :as => resource_name, :url => login_path) do |f|                                   
 / -----------------------------------------------------------------------------
 %h2                                                                                                           
  = t 'pages.users.sign_in' 
  %a(href="/users/password/new" class="pull-right")                                                                      
   = t 'pages.users.password_reset'  
 / -----------------------------------------------------------------------------
 .control-group                                                                                                
  / ----------------------------------------------------------------------------
  .input-prepend                                                                                               
   %span.add-on                                                                                                
    %i.icon-envelope-alt                                                                                       
   = f.email_field :email, :placeholder=> "#{ t 'pages.users.email_placeholder' }"                                                     
  / ----------------------------------------------------------------------------
  .input-prepend                                                                                               
   %span.add-on                                                                                                
    %i.icon-lock                                                                                               
   = f.password_field :password, :placeholder=> "#{ t 'pages.users.password_placeholder' }"    
 / -----------------------------------------------------------------------------
 %h3
  %div= f.submit "#{ t 'pages.users.do_sign_in' }", :class => "btn btn-large #{ Settings.app.styles.user_button } pull-right"
  %span(style="color:#444;")
   &copy; SKT Srl 2013 

                                                                                                                       
 
 