/ ------------------------------------------------------------------------------
- content_for(:javascript) do
  = javascript_include_tag params[:controller]                            
/ ------------------------------------------------------------------------------
.span4
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
/ ------------------------------------------------------------------------------
.span12                          
  .box
    .box-content      
      / ------------------------------------------------------------------------
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ----------------------------------------------------------------------
        %thead
          %tr 
            %th Account
            %th Amount
            %th Type
            %th Tax
            %th Received
            %th Payer 
            %th Payer Country
            /%th Transaction/Bill
        / ----------------------------------------------------------------------
        %tbody
          / --------------------------------------------------------------------
          - @payments.each do |payment|
            - @account = Account.find(payment.account_id)
            %tr
              / ----------------------------------------------------------------
              %td                
                %p
                  = @account.first_name.capitalize 
                  = @account.last_name.capitalize 
                %p
                  %span.label.label-warning= "Warning! Missing account info!" if @account.address.email.length == 0
              / ----------------------------------------------------------------      
              %td
                %p
                  = number_to_currency(payment.amount, :separator => ",", :precision => 2, :locale => 'it')
              / ----------------------------------------------------------------  
              %td  
                %p= payment.paymenttype.titleize                  
              / ----------------------------------------------------------------    
              %td
                %p= number_to_percentage(payment.tax, :separator => ",", :precision => 2)
              / ----------------------------------------------------------------    
              %td
                = distance_of_time_in_words(Time.now, payment.date_added).capitalize + " ago"
              / ----------------------------------------------------------------  
              %td
                %p
                  = payment.first_name.capitalize
                  = payment.last_name.capitalize
                %p
                  = payment.payer_email
                %p
                  %span.label.label-warning= "Warning! Payer not verified!" if payment.payer_status == "unverified"
              / ----------------------------------------------------------------    
              %td
                %p= payment.residence_country  
                 
