/ ------------------------------------------------------------------------------
- content_for(:javascript) do
  = javascript_include_tag params[:controller]   
/ ------------------------------------------------------------------------------
.span4                                                                          
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
/ --------------------------------------------------------------------------
.span12                          
  .box   
    .box-content      
      / --------------------------------------------------------------------    
      %table.table.table-sortable(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ------------------------------------------------------------------
        %thead
          %tr 
            %th Email              
            %th Direction
            %th State
            %th County
            %th City
            %th Postcode
            %th Address
            %th Phone
            %th Mob phone
            %th Fax

        / ------------------------------------------------------------------    
        %tbody
          - @addresses.each do |address|
            %tr
              %td= address.email     
              %td= address.direction.code
              %td= address.state
              %td= address.county
              %td= address.city
              %td= address.postcode
              %td= address.address
              %td= address.phone
              %td= address.mob_phone
              %td= address.fax

