@import foundicons/foundicons
//------------------------------------------------------------------------------ 
.zurbicon-users
 //@extend .zurb-social
 @extend .foundicon-torso
 font-family: "SocialFoundicons"
 font-style: normal
//------------------------------------------------------------------------------ 
.zurbicon-accounts
 //@extend .zurb-general
 font-style: normal
 @extend .foundicon-address-book
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-taxes
 //@extend .zurb-general
 @extend .foundicon-folder
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-payments
 //@extend .zurb-general
 @extend .foundicon-cart
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-invoices, .zurbicon-bills
 //@extend .zurb-general
 @extend .foundicon-add-doc
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-invoice.details, .zurbicon-bill.items
 //@extend .zurb-general
 @extend .foundicon-edit
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-directions
 //@extend .zurb-general
 @extend .foundicon-location
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-currencies, .zurbicon-clients
 //@extend .zurb-general
 @extend .foundicon-graph
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-credit.notes
 //@extend .zurb-general
 @extend .foundicon-page
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-conf.lines, .zurbicon-bill.codes 
 //@extend .zurb-general
 @extend .foundicon-tools
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------ 
.zurbicon-addresses, .zurbicon-companies
 //@extend .zurb-general
 @extend .foundicon-compass
 font-style: normal 
 font-family: "GeneralFoundicons"
//------------------------------------------------------------------------------
 

