@import "bootstrap"
// @import "bootstrap-responsive";
//- Set to none to override Twitter Bootstrap icons ----------------------------
[class^="icon-"], [class*=" icon-"]                                             
 background-image: none 
// ----------------------------------------------------------------------------- 
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
 height: auto
 line-height: auto  
