@import 'bourbon'                                                               
@import 'application/variables' 
@import 'application/body'
@import 'application/alerts'
// - Media Queries -------------------------------------------------------------
@import 'responsive/mq'    
// - Html, Body ----------------------------------------------------------------
html                                                                            
 height: 100%                                                                   
// -----------------------------------------------------------------------------
body                                                                                                     
 height: 100%                                                                   
 padding-top: 0 
 //-----------------------------------------------------------------------------
 .container
  padding-top: 120px 
 //-----------------------------------------------------------------------------
 p 
  color: #222   
//------------------------------------------------------------------------------  
.deck-full
 display: block
 position: relative
 z-index: 0
 background-repeat: repeat-x
 min-height: 100%
 height: 100% 
 padding-top: 120px 
//------------------------------------------------------------------------------
.deck-full:after
 content: ''
 display: block  
 position: absolute
 top: 0
 right: 0
 bottom: 0                    
 left: 0 
 //background: $deck-background-image
 opacity: 0.8
 z-index: -1   
//- Headings -------------------------------------------------------------------
h2, h4
 background-color: #393C48 
 @include background-image(linear-gradient(#606475 0%, #393C48 70%)) 
 border-bottom: 1px solid #23272C 
 border-top: 1px solid rgba(255, 255, 255, 0.3) 
 color: #FFFFFF 
 font-weight: normal 
 text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7)                                        
 //-----------------------------------------------------------------------------
 a                                                                              
  color: rgba(255, 255, 255, 0.6)                                               
  @include transition(all 0.2s ease-in-out 0s)                                  
 //-----------------------------------------------------------------------------
 a:hover                                                                        
  color: #FFFFFF                                                                
  text-decoration: underline                                                    
//------------------------------------------------------------------------------
h2                                                                              
 border-radius: 4px 4px 0 0                                                     
 padding: 20px 30px 15px                                                        
 margin: 0 0 20px                                                               
 //----------------------------------------------------------------------------- 
 a                                                                              
  font-size: 14px                                                               
  margin-top: 4px
 //-----------------------------------------------------------------------------
 .small                                                                         
  font-size: 15px                                                      
//------------------------------------------------------------------------------
h4                                                                              
 border-radius: 4px                                                             
 padding: 10px 15px 5px                                                         
 margin-top: 0                                                                  
 //-----------------------------------------------------------------------------
 > a                                                                            
  font-family: $brand-font-family                                               
 > a:hover                                                                      
  text-decoration: none                                                         
 //-----------------------------------------------------------------------------
 a                                                                              
  text-shadow: 0 1px 0 #222                                                     
 //-----------------------------------------------------------------------------
 .small                                                                         
  font-size: 11px                                                               
  font-family: $font-family                                                     
//------------------------------------------------------------------------------
h3                                                                              
 background-color: #EEEEEE                                                      
 border-top: 1px solid #D7DBE6                                                  
 clear: both                                                                    
 font-size: 14px                                                                
 font-weight: normal                                                            
 padding: 22px 30px                                                             
 color: rgba(0, 0, 0, 0.898)                                                    
 margin-bottom: 0                                                               
 line-height: 1em                                                               
 text-shadow: 0 1px 0px #fff                                                    
 min-height: 30px                                                               
 float: left                                                                    
 width: 100%                                                                    
 //-----------------------------------------------------------------------------
 a                                                                              
  color: #006391                                                                
 //-----------------------------------------------------------------------------
 a:hover                                                                        
  text-decoration: underline                                                    
  color: darken(#006391,10%) 
//------------------------------------------------------------------------------
form                                                                            
 @include box-sizing(border-box)                                                
 background-color: #FFFFFF                                                      
 @include background-image(linear-gradient(#FFFFFF 98%, #606475 100%))          
 border: 1px solid #23272C                                                      
 border-radius: 5px 5px 5px 5px                                                 
 box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3)                                       
 position: relative
 margin: 0 auto
 overflow: hidden                                                               
 background-position: center bottom                                             
 //-----------------------------------------------------------------------------
 .control-group                                                                 
  padding: 20px 30px 10px                                                       
 //-----------------------------------------------------------------------------
 .controls                                                                      
  padding: 0px 30px 0px                                                         
  min-height: 40px                                                              
  text-shadow: 0 1px 0 #FFF                                                     
 //-----------------------------------------------------------------------------
 .control-label                                                                 
  line-height: 1em                                                              
  width: 80%                                                                    
 //-----------------------------------------------------------------------------
 .input-prepend                                                                 
  margin-bottom: 15px                                                           
 //-----------------------------------------------------------------------------
 .input-append .add-on, .input-prepend .add-on                                  
  height: 46px                                                                  
  width: 46px                                                                   
  text-align: center                                                            
 //-----------------------------------------------------------------------------
 [class^="icon-"], [class*=" icon-"]                                            
  width: auto                                                                   
  height: auto                                                                  
  display: inline                                                               
  vertical-align: baseline                                                      
  line-height: 38px                                                             
  font-size: 32px                                                               
  color: rgba(0,0,0,0.3)                                                        
  margin: 3px 4px                                                               
  line-height: 40px                                                             
 //----------------------------------------------------------------------------- 
 .icon-envelope-alt                                                             
  font-size: 29px                                                               
 //-----------------------------------------------------------------------------
 input                                                                          
  font-size: 15px                                                               
 //----------------------------------------------------------------------------- 
 input[type="text"], input[type="password"], input[type="email"]                
  @include box-sizing(border-box)                                               
  background-color: #FFFFFF                                                     
  border-radius: 3px 3px 3px 3px                                                
  height: 46px                                                                  
  //position: static                                                            
  width: 546px                                                                  
  padding-top: 8px                                                              
//------------------------------------------------------------------------------
[role="footer"], form                                                           
 width: 652px                                                                   
 color: #111                                                                    
