%h3
 = t 'pages.users.confirm.title'
 = @resource.email
 !
/ ------------------------------------------------------------------------------
= t 'pages.users.confirm.message'
/ ------------------------------------------------------------------------------
%p
 = link_to "#{ t 'pages.users.confirm.do_confirm' }", confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
