%p
 = t 'pages.users.reset.title'
 = @resource.email
 !
/ ------------------------------------------------------------------------------
= t 'pages.users.reset.message'
/ ------------------------------------------------------------------------------
%p
 = link_to "#{ t 'pages.users.reset.do_reset' }", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
 
