%p
 = t 'pages.users.unlock.title' 
 = @resource.email
 !
/ ------------------------------------------------------------------------------
= t 'pages.users.unlock.message' 
/ ------------------------------------------------------------------------------
%p
 = link_to "#{ t 'pages.users.unlock.do_unlock' }" , unlock_url(@resource, :unlock_token => @resource.unlock_token)
