.navbar.navbar-fixed-top                                              
  / ---------------------------------------------------------------------------- 
  .navbar-inner                                                       
    / --------------------------------------------------------------------------
    %header                                                                   
      / ------------------------------------------------------------------------
      %h1                                                                     
        / ----------------------------------------------------------------------
        %a.brand(href="http://#{ Settings.url }") #{ Settings.app.name.titleize }    
        / ----------------------------------------------------------------------                              
        -# = image_tag("/assets/logo.png")                                     
    / --------------------------------------------------------------------------
    %nav.nav.pull-right                                                                       
      / ------------------------------------------------------------------------
      - if user_signed_in?
        %ul
          %li.pull-left.profile                                
            = link_to edit_user_registration_path do 
              %i.zurb-social.foundicon-torso
              #{ current_user.name.capitalize }                       
          / --------------------------------------------------------------------
          %li.pull-left.logout
            = link_to destroy_user_session_path, :method=>'delete' do
              %i.zurb-general.foundicon-remove
              Logout
          / --------------------------------------------------------------------                                                                                  
