%nav.main
 %li.group-heading billing
 = tabs(:app)
 - if (current_user.has_role? :admin or current_user.has_role? :owner) 
  %li.group-heading configuration
 = tabs(:admin)       
 - if current_user.has_role? :admin 
  %li.group-heading mor 
 = tabs(:mor)                            
