= form_for(@bill_code, remote: true) do |f|
  %td= f.text_field :bill_code, :placeholder=> "Code"
  %td(style="width:260px;")= f.text_field :bill_code_start_from, :placeholder=> "Starting Number"
  %td
    .toggle-active.toggle-modern.pull-right(data-checkbox='check_box')
    = f.check_box :bill_code_status, :class => 'check_box', :style => 'display:none;'
  %td   
    = button_tag :type => 'submit', :class => "pull-right btn btn-limekiln-3" do
      %i.font-awesome.icon-plus
        
                  
