- BillCode.all.each do |bill_code|   
  .modal.hide.fade(id = "bill_code_#{ bill_code.id }")  
    .modal-header
      %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
      %h3 
        About to delete Bill Code
        = bill_code.bill_code
        
    
    .modal-body
      %p 
        .label.label-important Attention!
        Deleting this Bill Code will also delete any associated Bills.
        There are currently 
        - @bill_count = 0
        - begin
          - @bill_count = bill_code.bills.count
        - rescue
        = @bill_count
        = @bill_count > 0 ? "Bills associated with this Bill Code." : "Bills associated with this Bill Code, so it's probably safe." 
    
    .modal-footer
      = button_to "Delete", bill_code_path(bill_code), :method => :delete, :remote => 'true', :class => "pull-right btn btn-hem-5", :data => { "loading-text" => "Deleting..."}
        
