$("<%= escape_javascript(render @bill_code) %>").insertAfter(".container .span12");
$('#tbl_bill_codes').dataTable().fnDraw();
$('#row_counter').html($('#tbl_bill_codes').dataTable().fnSettings().fnRecordsTotal())
$('.modal .modal-footer :submit').button()



