// * Colored Alerts ************************************************************
.alert-success, .alert-notice                                                                 
 background-color: #5c8a00                                                      
 border-color: #e1e1e1                                                          
 color: #DFF0D8                                                                 
// -----------------------------------------------------------------------------
.alert-danger, .alert-error                                                     
 background-color: #cc0000                                                      
 border-color: #e6e6e6                                                          
 color: #F2DEDE                                                                 
// -----------------------------------------------------------------------------
.alert-info                                                                     
 background-color: #007399                                                      
 border-color: #dcdcdc                                                          
 color: #817b58                                                                 
// -----------------------------------------------------------------------------
.alert-error, .alert-success, .alert-info, .alert-notice                                       
 text-shadow: 0 1px 0 #222                                                      
// * Alert box *****************************************************************
.alert-box  
 z-index: 20000
 box-shadow: 0 0 5px #000000                                                    
 left: 0                                                                        
 padding: 0                                                                     
 top: $top                                                      
 position: fixed                                                                
 width: 100%                                                                    
 cursor: pointer       
 display: block
 // ----------------------------------------------------------------------------
 > div                                                                          
  padding: 15px 0 13px 0                                                        
  text-align: center                                                            
  font-size: 16px
  color: #fff
//------------------------------------------------------------------------------
body.devise [class|="alert-box"]                                                                   
 top: 0    
