//------------------------------------------------------------------------------  
*                                                                               
 @include box-sizing(border-box)   
//- Html, Body ----------------------------------------------------------------- 
html                                                                            
 border-top: 0px none                                                           
//------------------------------------------------------------------------------ 
html, body                                                                      
 line-height: $line-height                                                      
 font-family: $font-family                                                      
 font-size: $font-size                                                          
 background-color: $body-background-color                                       
 background-image: $body-background-image                                       
 color: $font-color                                                             
 width: 100%       
//------------------------------------------------------------------------------ 
html, html a                                                                    
 text-shadow: 1px 1px 1px rgba(0,0,0,0.004)   
//------------------------------------------------------------------------------  
body                                                                       
 padding-top: $top                                                 
 margin: 0                                                                                                               
 -webkit-font-smoothing: antialiased                                                                                                       
 text-rendering: optimizeLegibility                                                                 
 -webkit-backface-visibility: hidden                                            
 -moz-font-feature-settings: "liga=1, kern=1"                                   
 -ms-font-feature-settings: "liga" 1, "kern" 1  
//- Opera Fix (Kohoutec) -------------------------------------------------------
body:before                                                                     
 content: ""                                                                    
 height: 100%                                                                   
 float: left                                                                    
 width: 0                                                                       
 // - Negate effect of float (Erik J) ------------------------------------------                                   
 margin-top: -32767px                                                           
//- Responsive width alert (David Cochran, aLittleCode.com) --------------------
//- comment out to display screen widths ---------------------------------------
body:after                                                                      
 display: none                                                                  
//- if you see this, we're at less than 320px ----------------------------------
body:after                                                                      
 content: "less than 320px"                                                     
 font-size: 200%                                                                
 line-height: 1                                                                 
 font-weight: bold                                                              
 position: fixed                                                                
 bottom: 40px                                                                   
 width: 100%                                                                    
 padding: 5px 0                                                                 
 text-align: center                                                             
 background-color: hsla(1,60%,40%,0.7)                                          
 color: #fff                                                                    
 z-index: 9999                                                                  
//******************************************************************************                                                       
//------------------------------------------------------------------------------  
a:focus, div:focus, .btn:focus                                                  
 outline: none                                                                  
//------------------------------------------------------------------------------ 
a:hover                                                                         
 text-decoration: none                                                          
//------------------------------------------------------------------------------ 
::selection                                                                     
 background: $selected-font-color                                               
 text-shadow: 0 0 0 rgba(0,0,0,0)                                               
//------------------------------------------------------------------------------	
::-moz-selection                                                                
 background: $selected-font-color                                               
 text-shadow: 0 0 0 rgba(0,0,0,0)                                               
//------------------------------------------------------------------------------
::selection:window-inactive                                                     
 background: rgb(220,220,220)                                                   
 color: rgb(50,50,50)                                                           
//------------------------------------------------------------------------------
img::selection                                                                  
 background: transparent                                                        
//------------------------------------------------------------------------------
img::-moz-selection                                                             
 background: transparent                                                        
//------------------------------------------------------------------------------ 
ul                                                                              
 list-style-type: none                                                          
//------------------------------------------------------------------------------
.btn a, .btn a:hover, .btn a:active                                             
 color: inherit
//******************************************************************************
//------------------------------------------------------------------------------  
h1, h2, h3, h4, h5, h6                                                         
 text-shadow: none                                 
//------------------------------------------------------------------------------ 
h1, h2, h3                                                                      
 font-family: $primary-headings-font-family                                 
//------------------------------------------------------------------------------ 
h4, h5, h6                                                                      
 font-family: $secondary-headings-font-family                                    
//------------------------------------------------------------------------------ 
p, a                                                                            
 font-family: $font-family                                                      
//------------------------------------------------------------------------------
a.brand                                                                         
 font-family: $brand-font-family                                                
//------------------------------------------------------------------------------ 
textarea, input, select                                                                
 font: $font                                                                    
//------------------------------------------------------------------------------
a                                                                               
 //color: $link-color                                                             
 text-decoration: none                                                          
 font-weight: normal                                                            
 &:hover                                                                        
  // color: $link-hover-color  
//------------------------------------------------------------------------------  
.btn.disabled
 color: rgba(255,255,255,0.8)
//------------------------------------------------------------------------------ 
//------------------------------------------------------------------------------
label                                                                          
 padding: 0
 font-size: 14px
 line-height: 0
label, .badge
 vertical-align: text-bottom

select, textarea
 width: auto
 font-size: 14px
.input .control-label
 display: none
//------------------------------------------------------------------------------
.badge                                                                          
 padding: 4px 9px 2px    
//------------------------------------------------------------------------------ 
button.btn, input.btn[type="submit"]
 font-size: 16px
 font-weight: bold
