//------------------------------------------------------------------------------
.nav.top-nav                                                                    
 margin: 0
 //-----------------------------------------------------------------------------
 a                                                                  
  margin-right: 0                                                                
  margin-left: 0       
//------------------------------------------------------------------------------
.navbar
 //box-shadow: 0 0 6px #000000
 @include background(linear-gradient(left top, #6D3353 0%, #27011A 100%)) 
 padding: 0
 font-family: $navbar-font-family 
 height: $top           
 border-bottom: 1px solid darken($purple-rain, 30%)
 z-index: 300000
 //-----------------------------------------------------------------------------
 .navbar-inner                                                                  
  background-color: transparent                                                 
  background-image: none                                                        
  @include box-shadow(none)                                                     
  border: none                                                                  
  padding: 0 0 0 20px     
  line-height: 1
 // * brand *********************************************************************
 .brand                                                                         
  font-family: $brand-font-family
  display: block   
  position: relative
  color: #fff
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125)
  font-weight: bold
  @include transition(all 0.2s linear 0s)  
  padding: 25px 20px 0
  line-height: 1    
  //-----------------------------------------------------------------------------
  &:hover
   text-shadow: 0 1px 0 rgba(0,0,0,0.3), 0 0px 20px rgba(255,255,255,0.2)
 //-----------------------------------------------------------------------------  
 h1
  display: inline
 //----------------------------------------------------------------------------- 
 ul
  margin: 0px
  //----------------------------------------------------------------------------
  li
   text-shadow: 0 1px 1px rgba(0,0,0,0.5)
   height: 44px
   float: left
   margin: 8px 0 0 15px
   padding-right: 4px
  //---------------------------------------------------------------------------- 
  .profile
   box-shadow: 1px 0 rgba(255,255,255,0.1),inset -1px 0 rgba(0,0,0,0.15)
  //----------------------------------------------------------------------------
  a
   color: #ddd
   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 0 30px rgba(0, 0, 0, 0.225)
   padding-right: 16px
   height: 50px
   line-height: 50px
   vertical-align: middle
   border-radius: 8px
   display: block
   text-align: center
   //---------------------------------------------------------------------------
   i
    font-size: 24px
    vertical-align: middle
    margin-right: 5px
    //transition: all 0.2s linear 0s
