//- sidenav --------------------------------------------------------------------
nav.main                                                                      
 position: fixed                                                                
 left: 0                                                                        
 top: $top                                                           
 width: $deck-width                                                                
 background-color: $navy-blue	                                                  
 box-shadow: inset -3px 0 5px #000                                              
 padding-left: 0                                                                
 height: 100%  
 //-----------------------------------------------------------------------------
 .group-heading
  height: auto     
  width: 100%
  color: #747d84
  line-height: 32px
  text-shadow: white 0 1px 0
  text-transform: uppercase
  text-align: left
  text-indent: 12px
  font-weight: bold
  font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif
  text-overflow: ellipsis
  white-space: nowrap
  @include background(linear-gradient(left top,#edf3fa 0%,#d0d9e4 100%))
  border-top: 1px solid white
  border-bottom: 1px solid #b4bbc4
  overflow: hidden                 
  border-right: solid 1px rgba(0,0,0,0.2)
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset
  list-style: none
 //-----------------------------------------------------------------------------
 .aside                                                                         
  border-bottom: 1px solid rgba(255,255,255,0.15)                               
  margin-left: 0                                                                
  margin-bottom: 0                                                             
  //----------------------------------------------------------------------------
  li                                                                            
   line-height: 30px                                                                                                           
  //----------------------------------------------------------------------------
  > li > a                                                              
   display: block                                                             
   padding: 12px 12px                                                            
   background-color: lighten(#f5f5f5,5%)                                        
   @include background-image(linear-gradient(top,#394d57,#31424b))               
   text-shadow: 0 1px 0 white                                                   
   color: #fff                                                                  
   position: relative                                                           
   border-top: 1px solid rgba(255,255,255,0.1)                                  
   border-bottom: 1px solid #1d2e37                                             
   text-shadow: 0 -1px 0 #000                                                   
   box-shadow: inset -3px 0 1px rgba(0,0,0,0.2)                                 
   //---------------------------------------------------------------------------
   i                                                                      
    opacity: 0.4                                                                
    vertical-align: middle                                                      
    margin-right: 8px  
    font-size: 30px
   //---------------------------------------------------------------------------
   span                                                                         
    opacity: 0.6                                                                
    display: inline                                                             
  //---------------------------------------------------------------------------- 
  > li.active > a                                                              
   box-shadow: inset -2px 0 2px rgba(0,0,0,0.15)                                
   border-top: 1px solid #7abad9                                                
   border-bottom: 1px solid #73b6d6                                                          
   background-color: #44a0cd
   background-image: none                                                           
   //---------------------------------------------------------------------------
   i                                                                            
    opacity: 1                                                                  
   //---------------------------------------------------------------------------
   span                                                                         
    opacity: 1                                                                  
    box-shadow: none                                                            
  //----------------------------------------------------------------------------
  > li > a:hover                                                                
   background-color: #425560
   @include background-image(linear-gradient(top,#455a65,#3d4f59))
   box-shadow: none
   background-repeat: no-repeat
   //---------------------------------------------------------------------------
   i                                                                            
    opacity: 0.8                                                               
  //----------------------------------------------------------------------------
  > li.active > a:hover                                                         
   background-color: #0088CC     
   box-shadow: none
   background-image: none  
   //---------------------------------------------------------------------------
   i                                                                            
    opacity: 0.9                                                                
