!!! 5
%html(lang = '#{ Settings.meta.language }')    
 / *****************************************************************************    
 %head
  / %script(type='text/javascript' src='https://getfirebug.com/firebug-lite.js')
  / ----------------------------------------------------------------------------
  - meta_tags
  - link_tags  
  - mobile_tags    
  / ****************************************************************************
  = stylesheet_link_tag 'core', media: :all 
  = stylesheet_link_tag 'application', media: :all                                                
  / **************************************************************************** 
  = javascript_include_tag :modernizr
  = javascript_include_tag 'preload' 
  - analytics [:mixpanel, :google]                                    
  / ****************************************************************************
  = csrf_meta_tag   
 / *****************************************************************************     
 %body(class = 'application #{ controller.controller_name }')
  / ----------------------------------------------------------------------------
  = render 'navbar' 
  = render 'alerts'
  = render 'sidenav'
  / --------------------------------------------------------------------------- 
  %section.main                     
   .container.pull-left   
    = yield
    #footnotes_holder
   = render 'footer'    
 / *****************************************************************************
 = javascript_include_tag 'core'                                             
 = javascript_include_tag 'application'   
 = yield :javascript
