!!! 5
%html    
 / *****************************************************************************    
 %head
  %meta(http-equiv="content-type" content="text/html; charset=utf-8")  
  = wicked_pdf_stylesheet_link_tag 'pdf'
 / *****************************************************************************     
 %body
  / ----------------------------------------------------------------------------   
  = yield   

