- content_for(:javascript) do
  = javascript_include_tag params[:controller]                          
/ ------------------------------------------------------------------------------
.span4                                                                          
  %h1
    %span.badge.badge-info#row_counter
    #{params[:controller].titleize}
/ ------------------------------------------------------------------------------
.span12                          
  .box 
    .box-content      
      / ------------------------------------------------------------------------    
      %table.table(id = "tbl_#{params[:controller]}" style="table-layout: fixed")
        / ------------------------------------------------------------------
        %thead
          %tr
            %th Account
            %th Email
            %th Created
            %th Type
            %th Language
            %th Country
            %th VAT
        / ----------------------------------------------------------------------
        %tbody
          / --------------------------------------------------------------------
          - @accounts.each do |account|
            %tr(style="cursor: pointer;")
              / ----------------------------------------------------------------
              %td
                %p
                  = account.first_name
                  = account.last_name   
              %td
                %p
                  = account.address.email
              %td 
                %p
                  = account.agreement_date
              %td
                %p                
                  = account.usertype.capitalize                  
              %td
                %p                  
                  = account.language.length > 0 ? account.language.upcase : "N/A"
              %td
                %p
                  = Direction.where{ id.eq account.taxation_country }.first.code
              %td
                %p
                  = account.vat_number
            
              
            
